<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <div class = "header">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class = "nav-item"><a class="nav-link text-decoration-none text-dark" href="#">About</a></li>
                    <li class= "nav-item"><a class="nav-link text-decoration-none text-dark" href="#">Store</a></li>
                </ul>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link text-decoration-none text-dark" href="index.html">Search</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-decoration-none text-dark" href="advance_search.html">Advance Search</a>
                  </li>
                </div>
                </ul>
        </nav>
    </div>
    <div class ="container-fluid">
        <img draggable="false" src="images/google_logo.png" id ="google_logo_img" alt="Google" class="img-fluid img_responsive">
    </div>
    <div class = "container-fluid search_form text-center">
        <form action="https://images.google.com/images">
          <input type="text" name="q" class="col-4 ce"><br>
          <input type="submit" value="Search" class="col-4">
          
        </form>
  </div>
</body>
</html>